/*-----------------------------------------------------------------------------
					Shady Business main CSS 11 April 2013
-----------------------------------------------------------------------------*/

/*--- Tags ------------------------------------------------------------------*/
*
{
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

img
{
	display: block;

	width: 75%;

	margin-left : auto;
	margin-right: auto;
}

body
{
	background-color: #FEE0C6;
	/*background-image: url("../img/bkg.png");*/

	background-repeat: repeat-x;
	background-position: left center;
}

/*--- Classes ---------------------------------------------------------------*/
.post_content
{
	background-color: #EEEEEE;

	display: block;
	position: relative;

	margin: 1em;
	margin-top   :1em;
	margin-bottom:1em;

	padding:0.5em;

	border-radius : 1em;
}

.post_content > h1
{
	position: relative;
	padding-left: 0.5em;
	font-variant: small-caps;
}
.post_content > h1:after
{
	position: absolute;
	left: 0; top: 0; bottom: 0;
	background-color: red;
	content: "";
	width: 5px;
	border-radius: 2px;
}

.post_content > .post_footer:before
{
	/* Insert hbar and shit here kinda */
}
.post_content > .post_footer > .sig
{
	display: block;
	font-style: italic;
}
.post_content > .post_footer > .author { /* Empty for now*/ }
.post_content > .post_footer > .time
{
	float: right;
}

/*--- Specific items --------------------------------------------------------*/
#content
{
	overflow: hidden;
}
#content_scroll
{
	/* Background */
	background-color:#CFCFA6;
	border-left: 5px solid black;
	border-right: 5px solid black;

	overflow: scroll;

	/* Size */
	width  : 50%;

	/* Positioning */
	position : absolute;
	left     : 0px;
	right    : 0px;
	top      : 55px;
	/*bottom   : 30px; Footer removed!*/
	bottom   : 0px;
	
	/* Margins et Paddings */
	margin-left   : auto;
	margin-right  : auto;
	margin-top    : 0px;
	margin-bottom : 0px;

	padding-left  : 0.5em;
	padding-right : 0.5em;
	padding-top   : 0.5em;
	padding-bottom: 0.5em;
}

#header
{
	background-color: #333333;
	background-image:url(http://www.zingerbugimages.com/backgrounds/black_diagonal_stripes_seamless_background_pattern.jpg);
	border-bottom: 5px solid #444444;
	overflow: hidden;

	width : 100%;
	height: 50px;

	position:absolute;

	margin : 0px;
	padding: 0px;
}

#footer
{
	background-color: #333333;
	background-image:url(http://www.zingerbugimages.com/backgrounds/black_diagonal_stripes_seamless_background_pattern.jpg);
	border-top:    5px solid #444444;

	width:100%;
	height: 30px;

	position:absolute;
	bottom:0px;
	
	margin : 0px;
	padding: 0px;
}